@if ((favoritos$ | async)?.cidadesFavoritas?.length) {
<div class="favoritos-lista" cdkDropList (cdkDropListDropped)="moverFavorito($event)">

  @for (favorito of (favoritos$ | async)?.cidadesFavoritas; track favorito.id) {
  <div class="favorito-item" cdkDrag>
    <div class="drag-handle" cdkDragHandle>
      <mat-icon>drag_indicator</mat-icon>
    </div>

    <app-card-previsao-tempo (expandedChange)="onCardExpanded(favorito.id, $event)" [favorito]="true"
      [clima]="favorito">
    </app-card-previsao-tempo>
  </div>
  }
</div>

} @else {
<div class="sem-favoritos">
  <mat-icon>favorite_border</mat-icon>

  <h2>Nenhuma cidade favorita</h2>

  <p>
    Adicione cidades aos favoritos para acompanhar a previsão do tempo.
  </p>

</div>
}
