<mat-card class="weather-card">

  <mat-card-header>

    <button mat-icon-button class="favorite-button" (mouseenter)="hoverFavorito = true"
      (mouseleave)="hoverFavorito = false" (click)="adicionarRemoverFavorito()"
      [attr.aria-label]="favorito() ? 'Remover dos favoritos' : 'Adicionar aos favoritos'">

      @if (favorito()) {

      @if (hoverFavorito) {
      <mat-icon>heart_broken</mat-icon>
      } @else {
      <mat-icon>favorite</mat-icon>
      }

      } @else {

      @if (hoverFavorito) {
      <mat-icon>favorite</mat-icon>
      } @else {
      <mat-icon>favorite_border</mat-icon>
      }

      }

    </button>

    <mat-card-title>
      {{ clima().name }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ clima().region }} - {{ clima().country }}
    </mat-card-subtitle>


  </mat-card-header>

  <mat-card-content>

    <div class="current-weather">

      <div class="condition">
        <img [src]="clima().icon" [alt]="clima().text" />

        <div>
          <span class="condition-text">
            {{ clima().text }}
          </span>
        </div>
      </div>

      <div class="temperature">
        {{ clima().temp_c }}°C
      </div>

    </div>

    <div class="weather-info">

      <div class="info-item">
        <mat-icon>water_drop</mat-icon>

        <div>
          <span class="label">Umidade</span>
          <span class="value">{{ clima().humidity }}%</span>
        </div>
      </div>

      <div class="info-item">
        <mat-icon>arrow_upward</mat-icon>

        <div>
          <span class="label">Máxima</span>
          <span class="value">{{ clima().forecastMaxtemp_c }}°C</span>
        </div>
      </div>

      <div class="info-item">
        <mat-icon>arrow_downward</mat-icon>

        <div>
          <span class="label">Mínima</span>
          <span class="value">{{ clima().forecastMintemp_c }}°C</span>
        </div>
      </div>

    </div>

  </mat-card-content>

</mat-card>
