.card-previsao {
  max-width: 400px;
  margin-bottom: 8px;
}

.weather-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-item mat-icon {
  font-size: 24px;
}

.label,
.value {
  display: block;
}

.label {
  font-size: 13px;
  color: #777;
}

.value {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 500;
}
