.spacer {
  flex: 1 1 auto;
}

main {
  padding: 20px;
}

@media (max-width: 600px) {
  mat-toolbar {
    height: auto;
    min-height: 56px;
    flex-wrap: wrap;
    padding: 8px;
  }

  .spacer {
    display: none;
  }

  mat-toolbar a {
    flex: 1;
  }
}
